.pepe {
	width:800px;
    color: tomato;
    margin: auto;
    font-size: 30px;
    text-align: center;
}
.kermit {
    width:800px;
    color: tomato;
    margin: auto;
    font-size: 20px;
    text-align: center;
}
